@{
    ViewData["Title"] = "About";

}


<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
            <div class="col-lg-4"> 
                <img src="~/assets/img/Community_Group.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8">
                <div class="content ps-lg-5">
                    <h3>Greendale Community College </h3>
                    <h4>Streets Ahead</h4>
                    <p>
                        Greendale Community College (GCC) is an open-admissions college located Greendale County, Colorado. Founded back in 1974 by Russell Borchert, it is best known for having amongst its alumni the character actor Luis Guzman. While not as prestigious an academic institution as its rival City College, it's an affordable school which has over 80 different fields of study. The current Dean is Craig Pelton and its mascot is the "Greendale Human Being"
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> Open to enrollment to all age, gender, race, and species</li>
                        <li><i class="bi bi-check-circle-fill"></i> Home of the fabled Jeff Wingert</li>
                        <li><i class="bi bi-check-circle-fill"></i> Known for all classes, and awesome paintball wars</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h3>Sign Up Now!</h3>
                <p>Send us a message on our contact form and our recruiters will be in touch!</p>
                <a class="cta-btn" href="@Url.ActionLink("contact", "Home")">Contact Us</a>
            </div>
        </div>

    </div>
</section><!-- End Call To Action Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Greendale Icons</h2>

        </div>

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/abed1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Abed Nadir</h4>
                        <p class="mt-1">- “COOL. COOL COOL COOL.”</p>
                        @*<span>Chief Executive Officer</span>*@
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/Britta1.jpg" class="img-fluid" alt="">
                        
                    </div>
                    <div class="member-info">
                        <h4>Britta Perry</h4>
                        <p class="mt-1">- “If I Had No Self-Awareness, I Think I'd Know.”</p>
                       @* <span>Product Manager</span>*@
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/dean.jpg" class="img-fluid" alt="">
                        
                    </div>
                    <div class="member-info">
                        <h4>Dean Pelton</h4>
                        <p class="mt-1">- “Dean Pelton here, wishing you another magic year at Greendale--ranked America's #2 community college by GreendaleCommunityCollege.com.”</p>
                        @*<span>CTO</span>*@
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/Jeff1.jpg" class="img-fluid" alt="">
                        
                    </div>
                    <div class="member-info">
                        <h4>Jeff Wingert</h4>
                        <p class="mt-1">- “Oh Hey, Is That A Reason To Leave?”</p>
                        @*<span>Accountant</span>*@
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/Troy.jpg" class="img-fluid" alt="">
                        
                    </div>
                    <div class="member-info">
                        <h4>Troy Barnes</h4>
                        <p class="mt-1">- “I was gonna be the first person in my family to graduate from community college. Everyone else graduated from normal college.”</p>
                        @*<span>Accountant</span>*@
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/Shirley.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4>Shirley Bennett</h4>
                        <p class="mt-1">- “Oh, that's nice!”</p>
                        @*<span>Accountant</span>*@
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/Pierce.jpg" class="img-fluid" alt="">
                        
                    </div>
                    <div class="member-info">
                        <h4>Pierce Hawthorne</h4>
                        <p class="mt-1">- “If I let being bad at something stop me, I wouldn't be here. That thing that some men call failure, I call living... breakfast... and I'm not leaving until I clean out the buffet.”</p>
                        @*<span>Accountant</span>*@
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/assets/img/Annie.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4>Annie Edison</h4>
                        <p class="mt-1">- “Mornin' boys. I'm Annie Edison, but people call me Psycho because I had a nervous breakdown in high school.”</p>
                        @*<span>Accountant</span>*@
                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>
</section><!-- End Team Section -->
  </main><!-- End #main -->