@model SAT.UI.MVC.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact";

}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container position-relative" data-aos="fade-up">

        <div class="row gy-4 d-flex justify-content-end">

            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">

                <div class="info-item d-flex">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h4>Location:</h4>
                        <p>Greendale, CO</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h4>Email:</h4>
                        <p>dean@comm.edu</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex">
                    <i class="bi bi-phone flex-shrink-0"></i>
                    <div>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55</p>
                    </div>
                </div><!-- End Info Item -->
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">

                <div class="row">
                    <div>
                        <form asp-action="Contact">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label asp-for="Subject" class="control-label"></label>
                                <input asp-for="Subject" class="form-control" />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>

                            <div class="form-group mt-3">
                                <label asp-for="Message" class="control-label"></label>
                                <textarea asp-for="Message" class="form-control"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>

                            <div class="form-group text-center mt-3">
                                <input type="submit" value="Send Message" class="btn btn-info" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- End Contact Form -->
    </div>
</section><!-- End Contact Section -->




@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
